html{
    font-size: 1vw;
  }
  
   body{
    margin: 0;
    padding: 0;
  }



  /*パソコンのとき*/
  @media screen and (min-width:767px) {

    .gray {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(60%);}
      
    .gray:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
      color: whitesmoke;
    }

     #nav-drawer {
       display:none;
     }

  /*ここから追加*/
     footer{
         width: 100%;
         height: 15em;
         min-height: 60px; /*フッターのサイズは最小60px*/
         /*margin-bottom: 0em;*/
     }
  
     footer li{
         list-style: none;
     }
  
     footer li a{
         text-decoration: none;
     }
  
     .footer-logo{
         font-size: 1.2em;
         float: left;
         margin-top: 1em;
         margin-left: 3em;
         color: white;
     }
  
     .footer-list{
         float: right;
         margin-right: 3em;
     }
  
  
     .footer-list a{
         color: white;
     }
  
     .footer-list a:hover{
         color: whitesmoke;
     }
  
     .footer-list li.D{
         margin-top: 0.5em;
         margin-bottom: 0.5em;
       }
  
     .footer-list li.E{
         margin-bottom: 0.5em;
     }
  
     .footer-list li.F{
         margin-bottom: 0.5em;
     }
  /*ここまで*/
   }
  
  
  
  
  /*スマホのとき*/
   @media screen and (max-width:767px) {
      .pc {
        display:none;
      }
   /*スマホのメニューのバックグラウンドカラー*/
   #nav-content{
    background-color: gray;
  }
  
  .sidemenu{
      background-color: gray;
      height: 100vh;
      position: fixed;
      width: 15%; /*パソコン用のサイドメニューの大きさ*/
      flex: 0 0 20%;
      bottom: 0;
  }
  
  .sidemenu li{
      list-style: none;
  }
  
  .LOGO{
    height: 21vh;
    width: 13vw;
    margin-left: -1.5vw;
  }
  
  .HOME{
    height: 6.5vh;
    width: 6.5vw;
    margin-left: -1vw;
    margin-top: -2.5vh;
  }
  
  .ABOUT{
    height: 8vh;
    width: 8vw;
    margin-left: -1.3vw;
  }
  
  .GALLERY{
    height: 11.5vh;
    width: 11.5vw;
    margin-left: -1.8vw;
    margin-top: -2.5vh;
  }
  
  .CONTACT{
    height: 9.7vh;
    width: 9.7vw;
    margin-left: -0.8vw;
    margin-top: -3.1vh;
  }
  
  .GAME{
    height: 8vh;
    width: 8vw;
    margin-left: -1.6vw;
    margin-top: -1.5vh;
  }
  
  .LIBRARY{
    height: 11.5vh;
    width: 11.5vw;
    margin-left: -1.7vw;
    margin-top: -2.5vh;
  }
  
  /*ここからハンバーガーCSS*/
  header {
  padding-top: 10px;
  padding-left: 10px;
  }
  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #FFFFE0;/*ここが３本線の色！！*/
    display: block;
    content: '';
    cursor: pointer;
    border: 0.3px solid rgba(0,0,0,0.6);
    border-radius: 4px;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 40%;/*メニュー幅*/
    max-width: 180px;/*メニューの最大幅*/
    height: 100%;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  
  /*ロゴやサイトタイトルをセンタリング*/
  .logo-area{text-align:center;margin:auto;}
  
      
  
  /*ここから追加*/
        footer{
            background: rgba(165, 127, 96, 0.788);
            width: 100%;
            height: 30em;
            min-height: 150px;
        }
  
        footer li{
            list-style: none;
        }
  
        footer li a{
            text-decoration: none;
        }
  
        .footer-logo{
            font-size: 13.5px;
            text-align: center;
            padding-top: 0.5em;
            color: white;
        }
  
        .footer-list{
          text-align: center;
          font-size: 12px;
        }
  
  
        .footer-list a{
            color: white;
        }
  
        .footer-list a:hover{
            color: whitesmoke;
        }
  
        .footer-list li.D{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }
  
        .footer-list li.E{
            margin-bottom: 0.5em;
        }
  
        .footer-list li.F{
            margin-bottom: 0.5em;
        }
        /*ここまで*/
    }
  